COMPOSE_PROJECT_NAME=personal-blog
HTTP_PORT=80

MYSQL_DATABASE=personal_blog
MYSQL_USERNAME=blog
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password

REDIS_USERNAME=default
REDIS_PASSWORD=change-redis-password

SPRING_PROFILES_ACTIVE=docker

